* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(33, 33, 33);
  margin: 0px;
}

.page-header {
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 4em;
}

.title {
  font-weight: 700;
  font-size: 300%;
  text-align: center;
}

.subtitle {
  font-weight: 300;
  font-size: 200%;
  text-align: center;
}

.username {
  font-weight: 300;
  font-size: 150%;
  text-align: center;
}

.social-media {
  text-align: center;
}

.social-media img {
  padding: 5px;
}

.section-title {
  background-color: rgb(33, 33, 33);
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.section-title h4 {
  font-weight: 300;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  align-items: center;
  justify-content: center;
  display: grid;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  padding: 25px 0px;
  line-height: 2.5em;
  width: 100%;
}

.project-title {
  font-size: 200%;
}

.project-title a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.project-title a:hover {
  color: rgb(71, 71, 71);
}

.project-content {
  margin: 0 15px;
}

@media (min-width: 700px) {
  .project {
    width: calc(50% - 22px);
  }
}
